  :root {
    --width: 80%;
    --header-height: 62px;
  }

  body{
    background-color: black;
    color:white;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
  }
  
  header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid lightgray;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
    position: static;
  }

  .tweet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Game {
    display: flex;
    height: calc(100% - var(--header-height));
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .hidden {
    display: none;
  }

  .head1 {
    align-items: center;
    text-align: center;
    color: white;
  }

  .scoreBox {
    align-items: center;
    text-align: center;
    color: white;
  }

  /*##########################*/
  /* NAVIGATION BAR CSS BELOW */
  /*##########################*/

  header .title {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
  }

  header .leftButton {
    justify-content: flex-start;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  header .rightButton {
    justify-content: flex-end;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  header .LHSButtons {
    align-items: center;
    display: flex;
  }

  #helpButton {
    font-size: 28px;
    color: white;
  }

  #statisticsButton {
    font-size: 28px;
    color: white;
  }

  #resetButton {
    font-size: 28px;
    color: white;
  }

  #settingsButton {
    font-size: 28px;
    color: white;
  }

  .svg-icon {
    width: 2em;
    height: 2em;
  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: white;
  }

  .svg-icon circle {
    stroke: white;
    stroke-width: 1;
  }

  /*##########################*/
  /* Setting Screen CSS BELOW */
  /*##########################*/

  .settingsScreenON {
    display: flex;
    height: 100%;
    max-width: var(--width);
    margin: 0 auto;
    flex-direction: column;
  }

  .settingsScreenOFF {
    display: none;
  }

  #settingDiv1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    align-items: baseline;
  }

  .settingTitle {
    font-size: 28px;
    color: white;
  }

  #flexSwitchCheckDefault{
    width:60px;
    height:30px;
  }

  .contrastButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
  }

  #contrastTitle{
    margin:5px;
  }

  .formSubmit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid white;
    color: white;
  }

  #submitTweetBox{
    width:600px;
    height: 75px;
    margin-bottom:10px;
  }

  #formBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  /*##########################*/
  /* Help Screen CSS BELOW */
  /*##########################*/

  #helpTextBox1 {
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    color: white;
    padding-bottom: 15px;
  }

  #helpText {
    color: white
  }

  .helpScreenON {
    display: flex;
    height: 100%;
    max-width: var(--width);
    margin: 0 auto;
    flex-direction: column;
    flex-grow: 1;
  }

  .helpScreenOFF {
    display: none;
  }

  #helpDiv1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    align-items: baseline;
  }

  .helpTitle {
    font-size: 28px;
    color: white;
  }

  /*##########################*/
  /* Exit Button CSS BELOW */
  /*##########################*/

  .exitButton {
    justify-content: flex-end;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  #exitButton {
    color: white;
    font-size: 28px;
  }


  /*##########################*/
  /* Statistics CSS BELOW */
  /*##########################*/

  .buttonTrans{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  .Achievements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding-top: 15px;
    border-top: 1px solid white;
  }

  #Acheivement1, #Acheivement2, #Acheivement3{
    font-size:36px;
    color:white; 
  }
  .statBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #highScore{
    margin-bottom: 15px;
  }

  .statRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .statRow > :nth-child(2) > :first-child{
    color: white;
    background-color: rgb(26, 24, 24);
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width:50px;
  }

  .statRow > :nth-child(1) > :first-child{
    margin: 5px;
  }

  .statRow > :nth-child(2) > :first-child{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*
  Css regarding tweet positions
  */
  .center {
    margin: auto;
    color: #ffffff;
    overflow: auto;
    width: 85%;
    height: auto;
    border: 5px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
  }

  .right {
    float: right;
    overflow: auto;
    width: 49%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
  }

  .left {
    float: left;
    overflow: auto;
    width: 49%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
  }

  .button {
    background-color: #ffffff;
    padding: 1px;
    width: 100%;
  }

  /* 
    When the screen width is <= 1480 pixels, change the layout (this is the width of the biggest iphone, so basically mobile sizes)
    */
  @media screen and (max-width:1480px) {
    .center {
      margin: auto;
      overflow: auto;
      width: 85%;
      height: auto;
      border: 5px;
      box-sizing: border-box;
      padding: 1px;
      text-align: center;
    }

    .left {
      float: left;
      overflow: auto;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 1px;
    }

    .right {
      float: right;
      overflow: auto;
      width: 100%;
      box-sizing: border-box;
      padding: 1px;
    }

    .button {
      background-color: #ffffff;
      padding: 1px;
      width: 50%;
    }

    #submitTweetBox{
      width:600px;
      height: 75px;
    }
  }

  /* 
    When the screen width is <= 1250 pixels, change the layout (this is the width of the biggest iphone, so basically mobile sizes)
    */
  @media screen and (max-width:1250px) {
    .center {
      margin: auto;
      overflow: auto;
      width: 85%;
      height: auto;
      border: 5px;
      box-sizing: border-box;
      padding: 10px;
      text-align: center;
    }

    .left {
      float: top;
      overflow: auto;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 10px;
    }

    .right {
      float: bottom;
      overflow: auto;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
    }

    .button {
      background-color: #ffffff;
      padding: 1px;
      width: 80%;
    }

    #submitTweetBox{
      width:600px;
      height: 75px;
    }
  }

  /* 
    When the screen size is <= 768 pixels, change the centre body max width
    */
  @media screen and (max-width:768px) {
    .center {
      margin: auto;
      overflow: auto;
      width: 100%;
      height: auto;
      border: 5px;
      box-sizing: border-box;
      padding: 10px;
      text-align: center;
    }

    .left {
      float: top;
      overflow: auto;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 10px;
    }

    .right {
      float: bottom;
      overflow: auto;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
    }

    #submitTweetBox{
      width:100%;
      height: 75px;
    }
    

  }

  /* 
    When the screen size is <= 683 pixels, change the centre body max width more
    */
  @media screen and (max-width:683px) {
    .center {
      margin: 0px;
      overflow: auto;
      width: 100%;
      height: auto;
      border: 5px;
      box-sizing: border-box;
      padding: 10px;
      text-align: center;
    }

    .left {
      float: top;
      overflow: auto;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 10px;
    }

    .right {
      float: bottom;
      overflow: auto;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
    }
  }

  /* 
    When the screen size is <= 595 pixels, change the centre body max width more. Also remove padding & borders
    */
  @media screen and (max-width:600px) {
    .center {
      margin: 1%;
      overflow: auto;
      width: 100%;
      height: auto;
      border: 1px;
      box-sizing: border-box;
      padding: 1px;
      text-align: center;
    }

    .left {
      float: top;
      overflow: auto;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 1px;
    }

    .right {
      float: bottom;
      overflow: auto;
      width: 100%;
      box-sizing: border-box;
      padding: 1px;
    }
  }

  /*  
    The next 90 lines of CSS need to be properly referenced from https://codepen.io/moshfequr9/pen/wXQbPR 
    Twitter style css for tweets
  */
  body {
    background: #000000;
    font-family: 'Asap', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

  img {
    max-width: 100%;
  }

  .avator {
    border-radius: 100px;
    width: 48px;
    margin-right: 15px;
  }

  .tweet-wrap {
    max-width: 100%;
    max-height: 100%;
    background: rgb(20,29,38);
    box-sizing: border-box;
    margin: 5px;
    border-radius: 3px;
    padding: 30px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
  }

  .tweet-header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: flex-start;
    justify-items: start;
    font-size: 14px;
  }

  .tweet-header-info {
    font-weight: bold;
    text-align: left;
    color: #ffffff;
  }

  .tweet-header-info span {
    color: #9c9c9c;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
  }

  .tweet-header-info p {
    font-weight: normal;
    text-align: left;
    margin-top: 5px;
    color: #ffffff;
  }

  .tweet-img-wrap {
    padding-left: 60px;
  }

  .tweet-info-counts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 60px;
    margin-top: 10px;
  }

  .tweet-info-counts div {
    display: flex;
    color: #9c9c9c;
    margin-right: 20px;
  }

  .tweet-info-counts div svg {
    color: #9c9c9c;
    margin-right: 10px;
  }

  /* 
    When screen size < 768 pixels make the buttons sit atop eachother
  */
  @media screen and (max-width:768px) {
    .tweet-header {
      flex-direction: column;
    }

    .tweet-header img {
      margin-bottom: 20px;
    }

    .tweet-header-info p {
      margin-bottom: 30px;
      color: #ffffff;
    }

    .tweet-img-wrap {
      padding-left: 0;
    }

    .tweet-info-counts {
      grid-template-columns: auto auto auto auto;
      display: grid;
      margin-left: 0;
    }

    .tweet-info-counts div {
      margin-right: 10px;
      margin-left: 10px;
    }

    .tweet-header-info span {
      color: #9c9c9c;
      font-weight: normal;
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  /* 
    When screen size < 555 tweets squish and scale down in size
  */
  @media screen and (max-width:555px) {
    .tweet-wrap {
      max-width: 100%;
      max-height: 100%;
      background: rgb(20,29,38);
      box-sizing: border-box;
      margin: 1px;
      border-radius: 3px;
      padding: 10px;
      border-bottom: 1px solid #e6ecf0;
      border-top: 1px solid #e6ecf0;
    }

    .tweet-header {
      flex-direction: column;
    }

    .tweet-header img {
      margin-bottom: 20px;
    }

    .tweet-header-info p {
      margin-bottom: 5px;
      color: #ffffff;
    }

    .tweet-img-wrap {
      padding-left: 0;
    }

    .tweet-info-counts {
      display: none;
    }

    .tweet-info-counts div {
      margin-right: 10px;
      margin-left: 10px;
    }

    .tweet-header-info span {
      color: #9c9c9c;
      font-weight: normal;
      margin-left: 1px;
      margin-right: 1px;
    }
  }

  /*
    End of twitter css from https://codepen.io/moshfequr9/pen/wXQbPR 
  */

  /* 
    mozilla transitions for icon
  */
  .rotate{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .rotate.down{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  /* 
    card flip
  */
  .flip-card {
    background-color: transparent;
    width: auto;
    height: auto;
  }
  
  .flip-card-inner {
    position: auto;
    width: auto;
    height: auto;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card-inner-transform {
    transform: rotateX(180deg);
  }
  
  .flip-card-front {
    position: auto;
    height: auto;
    width: auto;
    backface-visibility: hidden;
  }

  .correct_guess {
    background-color: #299c2f;
    color: rgb(0, 0, 0);
    transform: rotateX(180deg);
    backface-visibility: visible;
    display: flex;
  }
  .wrong_guess {
    background-color: #b42828;
    color: rgb(0, 0, 0);
    transform: rotateX(180deg);
    backface-visibility: visible;
    display: flex;
  }
  .change_guess {
    background-color: #888888;
    color: rgb(0, 0, 0);
    transform: rotateX(180deg);
    backface-visibility: visible;
    display: flex;
  }