{% extends "base.html" %}

{% block content %}

    <!-- Container for help screen which will replace/overaly the main game container -->
    <div class="helpScreenON" id="helpScreen">
        <div id="helpDiv1">
            <p class="helpTitle">How To Play</p>
            <button class="exitButton" type="button" id="exitButton1" onclick="window.location='/'">
                <i class="fa fa-mail-reply" id="exitButton"></i>
            </button>
        </div>
        <div id="helpTextBox1">
            <p>Click on a tweet and try to guess the Trump tweeet.</p>

            <p>
                Prove your knowledge on the insanity that can be Trump's twitter! 
                You are given five attempts to select the correct trump tweet,
                if a incorrect guess is made the game will continue ending your correct streak! 
                Once all 5 attempts have been made
                a score will appear at the bottom of the screen.
            </p>

            <p>After each guess the tweets will flip; Green for a correct answer and red for incorrect.
                The cards will flip again with two new randomised tweets that will be display for you to chose from.</p>

            <p>If you wish to restart your attempt or play another game please press the restart icon (Next to
                the settings button on the navigation bar to the top right of the page)</p>
        </div>
    </div>

{% endblock %}
