{% extends "base.html" %}

{% block content %}

<div class="settingsScreenON" id="settingsScreen">

    <div id="settingDiv1">
        <p class="settingTitle">Settings</p>
        <button class="exitButton" type="button" id="exitButton2" onclick="window.location='/Settings'">
            <i class="fa fa-mail-reply" id="exitButton"></i>
        </button>
    </div>

    <div class="contrastButton">
        <!-- used to keep border  -->
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alertPad" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="formSubmit">
        <h1>Register Account</h1>
        <form action="/Register" method="post" novalidate>
            {{ Rform.hidden_tag() }}
            <p>
                {{ Rform.username.label }}<br>
                {{ Rform.username(size=32) }}<br>
                {% for error in Rform.username.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
            </p>
            <p>
                {{ Rform.password.label }}<br>
                {{ Rform.password(size=32) }}<br>
                {% for error in Rform.password.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
            </p>
            <p>
                {{ Rform.confirm_password.label }}<br>
                {{ Rform.confirm_password(size=32) }}<br>
                {% for error in Rform.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
            </p>
            <p>
                {{ Rform.email.label }}<br>
                {{ Rform.email(size=32) }}<br>
                {% for error in Rform.email.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
            </p>
            <p>{{ Rform.submit() }}</p>
        </form>
    </div>

</div>

<div class="teamLinks">
    <!-- the team with linkedin -->
    <p id="teamTitle">Meet The Team:</p>

    <a href="https://www.linkedin.com/in/kyronmilton/">@Kyron Milton</a>
    <br>
    <a href="https://www.linkedin.com/in/connor-harris-739a25151/">@Connor Harris</a>


</div>

<!-- Modal -->
<div class="modal fade" id="registrationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color:black; border:1px solid white">
            <div class="modal-header">
                <h5 class="modal-title" style="color:white;" id="staticBackdropLabel">Registration</h5>
            </div>
            <div class="modal-body" style="color:white">
                <form action="/Register" method="post" novalidate>
                    {{ Rform.hidden_tag() }}
                    <p>
                        {{ Rform.username.label }}<br>
                        {{ Rform.username(size=32) }}<br>
                        {% for error in Rform.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ Rform.password.label }}<br>
                        {{ Rform.password(size=32) }}<br>
                        {% for error in Rform.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ Rform.email.label }}<br>
                        {{ Rform.email(size=32) }}<br>
                        {% for error in Rform.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ Rform.submit() }}</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}