{% extends "base.html" %}

{% block content %}

<div class="settingsScreenON" id="settingsScreen">

    <div id="settingDiv1">
        <p class="settingTitle">Settings</p>
        <button class="exitButton" type="button" id="exitButton2" onclick="window.location='/'">
            <i class="fa fa-mail-reply" id="exitButton"></i>
        </button>
    </div>

    <div class="submitTweet">
        <h1>Submit a Tweet</h1>
        <form action="/api/submitTweet" method="post" novalidate id="formBox">
            {{ tweetForm.hidden_tag() }}
            <p>
                {{ tweetForm.tweetBody.label }}<br>
                {{ tweetForm.tweetBody(size=240) }}<br>
                {% for error in tweetForm.tweetBody.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ tweetForm.year.label }}<br>
                {{ tweetForm.year(size=4) }}<br>
                {% for error in tweetForm.year.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            <p>
                {{ tweetForm.likes.label }}<br>
                {{ tweetForm.likes(size=6) }}<br>
                {% for error in tweetForm.likes.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ tweetForm.retweets.label }}<br>
                {{ tweetForm.retweets(size=6) }}<br>
                {% for error in tweetForm.retweets.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
                {{ tweetForm.isTrump.label }}<br>
                {{ tweetForm.isTrump() }}<br>
                {% for error in tweetForm.isTrump.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            <p>{{ tweetForm.submit() }}</p>
        </form>
    </div>

    <div class="logoutButton">
        <button type="button" class="btn btn-primary" onclick="window.location='/logout'">Logout</button>
    </div>
</div>

{% endblock %}