{% extends "base.html" %}

{% block content %}

<div class="settingsScreenON" id="settingsScreen">

    <div id="settingDiv1">
        <p class="settingTitle">Settings</p>
        <button class="exitButton" type="button" id="exitButton2" onclick="window.location='/'">
            <i class="fa fa-mail-reply" id="exitButton"></i>
        </button>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alertPad" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="formSubmit">
        <h1>Sign In</h1>
        <form action="/login" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>

        <div>
            <button type="button" class="btn btn-link" onclick="window.location='/Settings/Registration'">Register Here!</button>
        </div>

    </div>

    <div class="teamLinks">
        <!-- the team with linkedin -->
        <p id="teamTitle">Meet The Team:</p>

        <a href="https://www.linkedin.com/in/kyronmilton/">@Kyron Milton</a>
        <br>
        <a href="https://www.linkedin.com/in/connor-harris-739a25151/">@Connor Harris</a>


    </div>

</div>

{% endblock %}