  :root {
    --width: 60%;
    --header-height: 62px;
  }

  html, body{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    margin: 0px;
  }

  header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    border-bottom: 1px solid lightgray;
    background-color: black;    
    padding-left: 15px;
    padding-right: 15px;
    position: static;
  }

  .tweet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Game {
    display: flex;
    height: calc(100% - var(--header-height));
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .hidden {
    display: none;
  }

  .head1 {
    align-items: center;
    text-align: center;
    color: white;
  }

  .scoreBox {
    align-items: center;
    text-align: center;
    color: white;
  }

  #tweet-row{
    display: flex;
    flex-direction: row;
  }

  #tweet1{
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  #tweet2{
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  #tweet3{
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
  }

  #tweet4{
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
  }

  /* CSS probably needs to be altered for this as its disngned */
  .helpScreenON{
    display: flex;
    width: 100vh;
    height: calc(100% - var(--header-height));
    max-width: var(--width);
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .helpScreenOFF{
    display: none;
  }

  /* CSS probably needs to be altered for this as its disngned */
  .settingsScreenON{
    display: flex;
    width: 100vh;
    height: calc(100% - var(--header-height));
    max-width: var(--width);
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .settingsScreenOFF{
    display: none;
  }

  /*##########################*/
  /* NAVIGATION BAR CSS BELOW */
  /*##########################*/
  header .title{
    color: white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
  }

  header .leftButton{
    justify-content: flex-start;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  header .rightButton{
    justify-content: flex-end;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  header .LHSButtons{
    align-items: center;
    display: flex;
  }

  #helpButton{
    font-size:28px;
    color:white;
  }

  #statisticsButton{
    font-size:28px;
    color:white;
  }

  #resetButton{
    font-size:28px;
    color:white;
  }

  #settingsButton{
    font-size:28px;
    color:white;
  }

  .svg-icon {
    width: 2em;
    height: 2em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: white;
  }
  
  .svg-icon circle {
    stroke: white;
    stroke-width: 1;
  }

  /*  
    The next 90 lines of CSS need to be properly referenced from https://codepen.io/moshfequr9/pen/wXQbPR 
    Twitter style css for tweets
  */
  body {
    background: #e6ecf0;
    font-family: 'Asap', sans-serif;
    font-family: 'Roboto', sans-serif;
  
  }
  img {
    max-width:100%;
  }
  .avator {
    border-radius:100px;
    width:48px;
    margin-right: 15px;
  }
  
  
  .tweet-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width:490px;
    width: 490px;
    background: #fff;
    margin: 0 auto;
    border-radius:3px;
    padding: 30px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
  }
  
  .tweet-header {
    display: flex;
    align-items:flex-start;
    font-size:14px;
  }
  .tweet-header-info {
    font-weight:bold;
  }
  .tweet-header-info span {
    color:#657786;
    font-weight:normal;
    margin-left: 5px;
  }
  .tweet-header-info p {
    font-weight:normal;
    margin-top: 5px;
    
  }
  .tweet-img-wrap {
    padding-left: 60px;
  }
  
  .tweet-info-counts {
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
  }
  .tweet-info-counts div {
    display: flex;
    margin-right: 20px;
  }
  .tweet-info-counts div svg {
    color:#657786;
    margin-right: 10px;
  }
  @media screen and (max-width:430px){
    body {
      padding-left: 20px;
      padding-right: 20px;
    }
    .tweet-header {
      flex-direction:column;
    }
    .tweet-header img {
      margin-bottom: 20px;
    }
    .tweet-header-info p {
      margin-bottom: 30px;
    }
    .tweet-img-wrap {
      padding-left: 0;
    }
    .tweet-info-counts {
    display: flex;
    margin-left: 0;
  }
  .tweet-info-counts div {
    margin-right: 10px;
  }
  }
  /*
    End of twitter css from https://codepen.io/moshfequr9/pen/wXQbPR 
  */ 